@using Microsoft.AspNetCore.Components.Routing

<nav class="nav flex-column nav-pills mt-4">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        Dashboard
    </NavLink>
    <NavLink class="nav-link" href="/customers">
        Customers
    </NavLink>
    <NavLink class="nav-link" href="/fund-transfers">
        Fund Transfers
    </NavLink>
    <NavLink class="nav-link" href="/backups">
        Backups
    </NavLink>
</nav>
